<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit customer</title>
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  function editCustomer(){
    let id = $('#id').val();
    let firstName = $('#firstName').val();
    let lastName = $('#lastName').val();
    let newCustomer = {
      firstName: firstName,
      lastName: lastName
    }


    $.ajax({
      headers:{
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      type: "PUT",
      data: JSON.stringify(newCustomer),
      url: "http://localhost:8080/customers/edit/"+id,
      success: alert("oKeeeee")
    })
    event.preventDefault();


  }
</script>
<body>
<h1>Edit customer</h1>
<p>
  <a href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
  <input th:type="hidden" name="id" th:field="*{id}">
  <table>
    <tr>
      <td>First name:</td>
      <td><input type="text" th:field="*{firstName}"/></td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td><input type="text" th:field="*{lastName}"/></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" onclick="editCustomer()" value="Update customer"></td>
    </tr>
  </table>
</form>
</body>
</html>